body {
    font-family: 'Montserrat-Black';
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
}

.navbar {
    margin-bottom: 5px;
    justify-content: space-between;
}

.content-container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 5px;
}

.input-group {
    display: flex;
    margin-bottom: 5px;
}

.input-group-item {
    margin-right: 10px;
}

.box-layout {
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box {
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}